#------------------------------------------------------------------------------
# POSTGRESQL CONNECTION
#------------------------------------------------------------------------------

database_host = "127.0.0.1"
database_dbname = "speculare"
database_user = "postgres"
database_password = "azertyuiop"
# database_tls = false

#------------------------------------------------------------------------------
# API SETTINGS
#------------------------------------------------------------------------------

binding = "0.0.0.0:8080"
# https = false
# key_priv = "path/to/sslkey.key"
# key_cert = "path/to/sslkey.cert"

#------------------------------------------------------------------------------
# TIMESCALE SPECIFIC
#------------------------------------------------------------------------------

# Leave commented to use default (recommended), see main.rs#75 for more info
# [lookup_table]
# 0 = "disks"
# 1 = "cputimes"
# 2 = "cpustats"
# 3 = "ioblocks"
# 4 = "loadavg"
# 5 = "memory"
# 6 = "swap"
# 7 = "ionets"