#------------------------------------------------------------------------------
# POSTGRESQL CONNECTION
#------------------------------------------------------------------------------

database_host = "127.0.0.1"
database_dbname = "speculare"
database_user = "postgres"
database_password = "azertyuiop"
# database_tls = false

#------------------------------------------------------------------------------
# API SETTINGS
#------------------------------------------------------------------------------

binding = "0.0.0.0:8080"
# https = false
# key_priv = "path/to/sslkey.key"
# key_cert = "path/to/sslkey.cert"