#------------------------------------------------------------------------------
# POSTGRESQL CONNECTION
#------------------------------------------------------------------------------

database_host = "127.0.0.1"
database_dbname = "speculare"
database_user = "postgres"
database_password = "azertyuiop"
# database_tls = false

#------------------------------------------------------------------------------
# AUTH POSTGRESQL CONNECTION (optional, need feature = ["auth"])
#------------------------------------------------------------------------------

# auth_database_url = "postgres://postgres:azerty@yourserver.instace.cloud/speculare?sslmode=require"
# auth_database_max_connection = 10

#------------------------------------------------------------------------------
# API SETTINGS
#------------------------------------------------------------------------------

binding = "0.0.0.0:8080"